<%= will_paginate %>
<div class="row">
  <div class="col-md-6">
    <ul class="words">
      <%= render @words_left %>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="words">
      <%= render @words_right %>
    </ul>
  </div>
</div>
<%= will_paginate %>
  