<% provide :title, t("layouts.contact") %>
<h1><%= t "layouts.contact" %></h1>
<p>
  <%= t "contact.contact_admin" %> 
  <a href="https://www.facebook.com/ttluong1993"><%= t "contact.facebok" %></a>.
</p>
