<% provide :title, t("layouts.home") %>
<div class="center jumbotron">
  <%= link_to image_tag "Framgia-Logo.png" %>
  <h1><%= t "layouts.logo" %></h1>
  <%= link_to t("layouts.signup"), "#", class: "btn btn-lg btn-primary" %>
</div>
